

body {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(0,0,0,.5);
  background-color: white;
}

h1 {
  font-family: 'Gravitas One', 'Arial Black', serif;
  font-weight: normal;
	color: brown;
	font-size: 3em;
  margin: 0;
}

h2 {
  font-family: 'Gravitas One', 'Arial Black', serif;
  font-weight: normal;
	color: brown;
	font-size: 2em;
  margin: 0;
}

h3 {
  font-family: 'Gravitas One', 'Arial Black', serif;
  font-weight: normal;
	color: brown;
	font-size: 1em;
  margin: 0;
}

img {
	  text-align:center;
}

hr {
		background-color: green;
    height: 3px;
}

.p1{
	color: orange;
}

strong {
	color: orange;
}

.note{
	background-color: yellow;
	border-style: dashed;
	text-align: center;
}
